<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <title>Footer</title>-->
<!--    <link-->
<!--      rel="stylesheet"-->
<!--      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"-->
<!--    />-->
<!--    <link rel="stylesheet" href="/Assets/css/recycleFilecss/footer.css" />-->
<!--  </head>-->
<!--  <body>-->
<!--    <footer class="footer">-->
<!--      <div class="footer-container">-->
<!--        &lt;!&ndash; CONNECT WITH US &ndash;&gt;-->
<!--        <div class="footer-section">-->
<!--          <h3>Liên Hệ Với Chúng Tôi</h3>-->
<!--          <div class="subscribe">-->
<!--            <input type="email" placeholder="Nhập Email" />-->
<!--            <button><i class="fa-solid fa-paper-plane"></i>Gửi</button>-->
<!--          </div>-->
<!--          <div class="social-icons">-->
<!--            <a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--            <a href="#"><i class="fab fa-youtube"></i></a>-->
<!--            <a href="#"><i class="fab fa-tiktok"></i></a>-->
<!--            <a href="#"><i class="fab fa-instagram"></i></a>-->
<!--            <a href="#"-->
<!--              ><img-->
<!--                src="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg"-->
<!--                alt="Zalo"-->
<!--                style="width: 22px; height: 22px"-->
<!--            /></a>-->
<!--            <a href="#"><i class="fab fa-twitter"></i></a>-->
<!--          </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; USEFUL LINKS &ndash;&gt;-->
<!--        <div class="footer-section">-->
<!--          <h3>Truy cập nhanh</h3>-->
<!--          <ul>-->
<!--            <li><a href="#">Liên Hệ</a></li>-->
<!--            <li><a href="#">Điều khoản và điều kiện</a></li>-->
<!--            <li><a href="#">Phương thức thanh toán</a></li>-->
<!--            <li><a href="#">Giao hàng và trả hàng</a></li>-->
<!--            <li><a href="#">Chính sách bảo mật</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        &lt;!&ndash; CONTACT &ndash;&gt;-->
<!--        <div class="footer-section">-->
<!--          <h3>Liên hệ</h3>-->
<!--          <p>-->
<!--            <i class="fa-regular fa-envelope" style="color: #e95221"></i>-->
<!--            nhom17@gmail.com-->
<!--          </p>-->
<!--          <p>-->
<!--            <i class="fa-solid fa-phone" style="color: #e95221"></i> 0987654321-->
<!--          </p>-->
<!--        </div>-->

<!--        &lt;!&ndash; HELP &ndash;&gt;-->
<!--        <div class="footer-section">-->
<!--          <h3>Chúng tôi luôn sẵn sàng giúp đỡ bạn</h3>-->
<!--          <p>-->
<!--            Đội ngũ hỗ trợ của chúng tôi luôn sẵn sàng hỗ trợ bạn mọi thắc mắc,-->
<!--            đơn hàng hoặc vấn đề. Hãy liên hệ với chúng tôi. Chúng tôi rất vui-->
<!--            được hỗ trợ!-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
<!--  </body>-->
<!--</html>-->
