<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/Assets/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <script src="/Assets/js/main.js"></script>
</head>
<body>
    <div id="header"></div>

                <!--info content 1-->
    <section class="info-section">
        <div class="info-content">
            <div class="service">
                <h2>Innovation, Quality and Service</h2>
            </div>
            <div class="info-box">
            <h4>50+ STORES</h4>
                <p>Our stores are distributed throughout the country with locations such as Ha Noi,Ho Chi Minh City, Da Nang, Hue...</p>
            </div>

            <div class="info-box">
            <h4>200+ BRANDS</h4>
                <p>Our store sells products with many famous, prestigious, quality brands that are loved by users</p>
            </div>
            <!---Call Center-->
        <div class="info-box">
            <h4>3+ CALL CENTER</h4>
            <p>Our store has more than 3 call centers always supporting customers with any questions about our products</p>
        </div>
            <!--customer-->
        <div class="info-box">
            <h4>5000+ CUSTOMERS</h4>
            <p>Up to now, our store has satisfied more than 5,000 customers nationwide as well as international customers</p>
        </div>
            </div>
        <div class="info-image">
            <img src="/Assets/image/aboutUs_info.png">
        </div>
    </section>
        <!--content 2-->

    <div class="service-content">
    <div class="box">
        <i class="fa-solid fa-headset"></i>
        <p>Our store is always ready to advise on any questions you may have.</p>
    </div>
    <div class="box">
        <i class="fa-solid fa-truck-fast"></i>
        <p>Our store has a home delivery service if you can't come to our store.</p>
    </div>
    <div class="box">
        <i class="fa-solid fa-gift"></i>
        <p>Our store has many promotions on special occasions when you buy our products.</p>
    </div>
    <div class="box">
        <i class="fa-solid fa-bell"></i>
        <p>Our store will notify you when there are new products if you have a need.</p>
    </div>
    </div>

            <!--WHAT WE DO-->
    <h3>What we do</h3>
<div class="we-do">
    <div class="do">
        <img src="/Assets/image/aboutUs_product.png">
        <h3>Our products</h3>
        <p>Our store has a variety of game consoles so you can freely choose to suit your preferences.</p>
    </div>


    <div class="do">
        <img src="/Assets/image/aboutUs_team.png">
        <h3>Our team</h3>
        <p>Our team is always ready to support you whenever you need it.</p>
    </div>

    <div class="do">
        <img src="/Assets/image/aboutUs_store.png">
        <h3>Our store</h3>
        <p>Our store is always happy to serve you so please come when you have need. </p>
    </div>

                <!--    PHAN 4-->
    <div class="final-content">

        <div class="text">
            <p>Our store has a variety of game consoles so you can freely choose to suit your preferences.</p>
            <h4>Nhom17</h4>
        </div>

        <div class="text">
            <p>Our team is always ready to support you whenever you need it.</p>
            <h4>Nhom17</h4>
        </div>
        <div class="text">
            <p>Our store is always happy to serve you so please come when you have need. </p>
            <h4>Nhom17</h4>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>