<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liên hệ</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/Assets/css/contact.css" />
    <script src="/Assets/js/main.js"></script>
</head>
<body>
<main>
    <div id="header"></div>
    <section class="contact-section">
        <div class="contact-container">
            <!-- Phần thông tin bên trái -->
            <div class="contact-info">
                <h4 class="contact-title">liên hệ</h4>
                <h2 class="store-title">Thông tin cửa hàng của chúng tôi</h2>

                <div class="info-item">
                    <i class="fa-solid fa-building" style="color: #e95221;"></i>
                    <p>Địa chỉ: Khu phố 6, Phường Linh Trung, Quận Thủ Đức, TP. Hồ Chí Minh.</p>
                </div>

                <div class="info-item">
                    <i class="fa-solid fa-envelope" style="color: #e95221;"></i>
                    <p>Email: nhom17@gmail.com</p>
                </div>

                <h3 class="feedback-title">Chúng tôi luôn sẵn sàng lắng nghe những gì bạn nói</h3>
                <textarea style="height: 50px;"
                        class="feedback-input"
                        placeholder="Viết cho tôi những lưu ý..."
                ></textarea>
                <button class="feedback-btn">Gửi</button>
            </div>

            <div class="contact-image">
                <img src="/Assets/image/contact_support-team.jpg" alt="Support Team" />
            </div>
        </div>
    </section>
</main>
<div id="footer"></div>
</body>
</html>