<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/Assets/css/footer.css">
</head>
<body>
<footer class = "footer">
    <div class = "footer-container">
        <!-- CONNECT WITH US -->
        <div class="footer-section">
            <h3>CONNECT WITH US</h3>
            <div class="subscribe">
                <input type="email" placeholder="Enter email ID">
                <button><i class="fa-solid fa-paper-plane"></i> Send</button>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg" alt="Zalo" style="width:22px; height:22px;"></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>

        <!-- USEFUL LINKS -->
        <div class="footer-section">
            <h3>USEFUL LINKS</h3>
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Shipping & Returns</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <!-- CONTACT -->
        <div class="footer-section">
            <h3>CONTACT US</h3>
            <p><i class="fa-regular fa-envelope" style="color: #e95221;"></i> nhom17@gmail.com</p>
            <p><i class="fa-solid fa-phone" style="color: #e95221;"></i> 0987654321</p>
        </div>

        <!-- HELP -->
        <div class="footer-section">
            <h3>WE'RE HERE TO HELP</h3>
            <p>Our support team is always ready to assist you with any questions, orders, or issues. Feel free to reach out. We’re happy to help!</p>
        </div>

    </div>
</footer>
</body>


</html>
