<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <div id="header"></div>

    <main id="content">
        <!--  loc san pham          -->
            <div class="filter">
                <div class="title">CHỌN MỨC GIÁ</div>
                <div class="choice">
                    <input type="checkbox" class="check" id="check1" name="checkbox1" ><label>Giá dưới 500.000đ </label>
                </div>
                <div class="choice">
                    <input type="checkbox" class="check" id="check2" name="checkbox1" ><label>500.000đ - 1 triệu </label>
                </div>

                <div class="choice">
                    <input type="checkbox" class="check" id="check3" name="checkbox1" ><label>1 - 2 triệu </label>
                </div>
                    <div class="choice">
                    <input type="checkbox" class="check" id="check4" name="checkbox1" ><label>2 - 3 triệu </label>
                    </div>
                        <div class="choice">
                    <input type="checkbox" class="check" id="check5" name="checkbox1" ><label>Trên 3 triệu </label>
                        </div>

<!--                -->
                <div class="title">THƯƠNG HIỆU</div>
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt1" name="checkbox2"><label>ghjk</label>
                </div>
<!--              -->
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt2" name="checkbox2"><label>123</label>
                </div>

                <div class="choice">
                    <input type="checkbox" class="check" id="checkt3" name="checkbox2"><label>abcd</label>
                </div>
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt4" name="checkbox2"><label>asdf</label>
                </div>
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt5" name="checkbox2"><label>asdf</label>
                </div>
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt6" name="checkbox2"><label>asdf</label>
                </div>
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt7" name="checkbox2"><label>asdf</label>
                </div>
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt8" name="checkbox2"><label>asdf</label>
                </div>
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt9" name="checkbox2"><label>asdf</label>
                </div>
                <div class="choice">
                    <input type="checkbox" class="check" id="checkt10" name="checkbox2"><label>asdf</label>
                </div>
            </div>

                <!-- san pham           -->
            <div class="contain">

                <div class="contain-header">
                    <div class="Loai">Console</div>

                    <div class="sort">
                        <i class="fa-solid fa-arrow-down-wide-short"></i></i>
                        <label>Sắp xếp:</label>

                         <div class="sort-box">
                             <span class="sort-selected">Mặc định</span>
                             <i class="fa-solid fa-chevron-down"></i>
                         </div>

                            <ul class="sort-menu">
                                  <li>Giá tăng dần</li>
                                 <li>Giá giảm dần</li>
                                <li>Hàng mới nhất</li>
                             </ul>

                    </div>
                </div>

                <!--  San Pham -->
                <div class="product-list">
                        <!--SP1 -->
                        <div class="product-item">
                            <img src="/Assets/image/products1.png" alt="">
                            <div class="tag">Premium</div>
                            <h4>Máy chơi game</h4>
                            <p class="price">2.599.000 ₫</p>
                        </div>

                        <!-- SP 2 -->
                        <div class="product-item">
                            <img src="/Assets/image/products2.png" alt="">
                            <div class="tag">Premium</div>
                            <h4>Máy chơi game</h4>
                            <p class="price">638.000 ₫</p>
                        </div>

                        <!-- SP 3 -->
                        <div class="product-item">
                            <img src="/Assets/image/products3.png" alt="">
                            <div class="tag">Premium</div>
                            <h4>Máy chơi game</h4>
                            <p class="price">529.000 ₫</p>
                        </div>

                        <!-- SP 4 -->
                        <div class="product-item">
                            <img src="/Assets/image/products4.png" alt="">
                            <div class="tag">Premium</div>
                            <h4>Máy chơi game</h4>
                            <p class="price">529.000 ₫</p>
                        </div>
                </div>

<!--                list products thu 2-->
                <div class="product-list2">
                    <!--SP2.1 -->
                    <div class="product-item">
                        <img src="/Assets/image/products2_1.png" alt="">
<!--                        <div class="tag">Premium</div>-->
                        <h4>Máy chơi game</h4>
                        <p class="price">2.599.000 ₫</p>
                    </div>

                    <!-- SP 2.2 -->
                    <div class="product-item">
                        <img src="/Assets/image/products2_2.png" alt="">
<!--                        <div class="tag">Premium</div>-->
                        <h4>Máy chơi game</h4>
                        <p class="price">638.000 ₫</p>
                    </div>

                    <!-- SP 2.3 -->
                    <div class="product-item">
                        <img src="/Assets/image/products2_3.png" alt="">
<!--                        <div class="tag">Premium</div>-->
                        <h4>Máy chơi game</h4>
                        <p class="price">529.000 ₫</p>
                    </div>

                    <!-- SP 2.4 -->
                    <div class="product-item">
                        <img src="/Assets/image/products2_4.png" alt="">
<!--                        <div class="tag">Premium</div>-->
                        <h4>Máy chơi game</h4>
                        <p class="price">529.000 ₫</p>
                    </div>

                </div>

            </div>


    </main>

    <div id="footer"></div>
    <script src="/Assets/js/main.js"></script>
</body>
</html>