.main-header{
    width: 100%;
}
html {
  font-size: 16px;
}
.container{
    width: min(80rem, 100%);
    margin: auto;
}
.register-login{
    display: none;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 4px 10px #000;
    background-color: #fffbfb;
    top: 46px;
    right: 190px;
}
.icon2:hover + .register-login,
.register-login:hover {
  display: block;
}
.a-same-nodecoration{
    text-decoration: none;
    color: #333;
}
.no-margin:hover{
    background-color: #e95221;
    color: #fff;
    transition: all 0.3s ease;
}
.icon2{
    position: relative;
}
.no-margin{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 5px;
    padding: 5px;
}
.no-margin p{
    margin: 0;
}
.box-header{
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    padding: 5px;
    height: 82px;
}
.logo img{
    width: 6.44rem;
}
.center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 0.5rem;
    padding-bottom: 3.7rem;
    gap: 10px;
}
.right1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right1 i{
    cursor: pointer;
}
.center-1 i{
    color: #e85221;
    margin-top: 1.5rem;
}

.center-1 span{
    color: #ff1c48;
    font-weight: 700;
    cursor: pointer;
}
.center-1 span:hover{
    color: #000000;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.center-1 input{
    /*width: 19rem;*/
    height: 2rem;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: none;
    width: 17rem;
    float: right;
}
.menu3{
    cursor: pointer;
    padding: 15px 60px;
}
.menu3:hover{
    background-color: #ae2c00;
}
.search .bi-search{
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: -5px;
    font-size: 1.2rem;
}
.center2{
    padding-top: 20px;
}
.center3{
    padding-top: 13px;
}
.input1{
    position: relative;
}
.search{
    position: absolute;
    right: -20px;
    top: -12px;
}
.right1{
    padding: 15px;
    display: flex;
    gap: 10px;
}
.icon i{
    color: #e85221;
    font-size: 25px;
}
.icon p{
    font-size: 12px;
    
}
.icon{
    width: 70px;
    text-align: center;
}
.icon2{
    height: 40px;
}
.cart{
    position: relative;
}
.num{
    position: absolute;
    top: -17px;
    right: 20px;
}
.menu2{
    display: flex;
    color:#f9f4ff;
    justify-content: center;
}
.menu{
     background-color: #e95221;
}
.hamburger{
    font-size: 30px;
    display: none;
    width: 180px;
}
.menu2 a{
    text-decoration: none;
    color: #fff;
}
@media (max-width: 768px) {
  html {
    font-size: 14px; 
  }
  .center3{
    padding-top: 20px;
  }
  .hamburger,.search2{
    display: block;
    padding-top: 28px;
    cursor: pointer;
  }
  .menu{
    display: none;
  }
  .center-1 b,span{
    display: none;
  }
  .same-icon i{
    display: none;
  }
  
  .input1 input{
    display: none;
  }
  .box-header{
    display: flex;
    justify-content: space-between;
    }
    .search, .center{
        display: none;
    }
    .search2{
        width: 30px;
    }
    
    .icon{
        padding-top: 15px;
    }
    .icon2 i{
        padding-left: 50px;
    }
}