.order-detail-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

.order-detail-container h2 {
  text-align: center;
  color: #E95221;
  margin-bottom: 15px;
}

.order-detail-container h3 {
  color: #333;
  margin-top: 25px;
  border-left: 5px solid #E95221;
  padding-left: 10px;
}

.order-detail-container p {
  line-height: 1.6;
  color: #444;
}

.status {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 6px;
}
.status.completed {
  background-color: #c8f7c5;
  color: #2e7d32;
}
.status.processing {
  background-color: #ffe6b3;
  color: #ff9800;
}
.status.canceled {
  background-color: #ffcccc;
  color: #c62828;
}

.order-products table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.order-products th,
.order-products td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.order-products th {
  background-color: #E95221;
  color: white;
}

.order-summary {
  margin-top: 25px;
  font-size: 16px;
}

.order-summary .total {
  color: #E95221;
  font-size: 18px;
  font-weight: bold;
}

.back-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 15px;
  background-color: #E95221;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}

.back-btn:hover {
  pointer-events: cusor;
}

.order-info i,
.order-info svg,
.order-info .fa,
.order-info .fas,
.order-info .fa-solid,
.order-info .fa-regular {
  margin-right: 10px;
  color: #E95221 !important;
  font-size: 18px;
}

