.container{
    display: flex;
    width: 95%;
    margin: auto;
}
header{
    background-color: #fff;
    position:relative;
    box-shadow: 0 8px 20px rgba(129, 145, 210, 0.2);
    width: 100%;
}
.header-left{
    display: flex;
}
.header-right{
    display: flex;
    gap: 20px;
}
.logo img{
    width: 75px;
    height: 70px;
}
.container{
    justify-content: space-between;
}
svg{
    color: #8d7c83;
}
input{
    border: none;
    outline: none;
}
.hamburger{
    padding: 26px 0px 0px 50px;
}
.search-icon{
    padding: 28px 0px 0px 30px;
}
.search{
    padding: 29px 0px 0px 5px;
}
.bell-dot{
    position: relative;
}
.dot p{
    position: absolute;
    top: -62px;
    left: 5px;
}
.padding-same{
    padding: 27px 0px 0px 0px;
}
.user-icon{
    padding: 22px 0px 0px 0px;
}
body{
    background-color: #f5f7ff;
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
}
.flex-menu-bar{
    display: flex;
    padding: 10px 5px 10px 5px;
}
.menu-bar{
    padding: 15px 15px 0px 15px;
    background-color: #fff;
}
.main{
    display: grid;
    grid-template-columns: 1fr 5.5fr;
}
p{
    padding: 0px 0px 0px 10px;
    margin: 0;
    font-size: 15px;
    
}
.icon-menu-bar{
    padding-left: 10px;
}
.p-same-style{
    color: #8d7c83;
}
/* 

 */

.header-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.add-product{
    background-color: #2563eb;
}
.content-right{
    padding: 20px;
}
.add-product{
    border-radius: 10px;
    padding: 18px 10px 10px 10px;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
    height: 100%;
}
.flex-layout-5{
    display: grid;
    grid-template-columns: 6fr 1fr;
    background-color: #fff;
    padding: 50px 20px 30px 20px;
    border: 2px solid #eef2f6;
    border-radius: 10px;
    gap: 30px;
    margin-bottom: 20px;
}
.flex-child{
    display: flex;
    border: 1px solid #eef2f6;
    padding: 10px;
    border-radius: 10px;
}
.flex-child-input{
    width: 100%;
}
.flex-child-input input{
    width: 100%;
}
.category{
    border: 1px solid #eef2f6;
    padding: 10px;
    border-radius: 10px;
}
.grid-layout-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.grid-layout-1 img{
    width: 239px;
    height: 190px;
    margin: auto;
}
.padding-same1{
    border: 3px solid #ebeff4;
    border-radius: 20px;
    padding: 25px 25px;
    position: relative;
}
.title-same{
    margin: 0;
    padding: 10px 0px 2px 0px;
    font-size: 18px;
    font-weight: 700;
}
.price-same{
    font-size: 20px;
    font-weight: 700;
    color: #2563eb;
}
.instock{
    background-color: #dcfce7;
}
.outstock{
    background-color: #fee2e2;
}
.lowstock{
    background-color: #fef3c7;
}
.stock{
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
}
.flex-layout-6{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.flex-layout-7{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.three-dot i{
    background-color: #d8d6d7;
    opacity: 0.3;
    padding: 5px 10px;
    position: absolute;
    top: 35px;
    border-radius: 10px;
    right: 35px;
    transition: 0.3s ease;
}
.three-dot i:hover{
    background-color: #f0f0f0;
    opacity: 1;
}
.product-add-product{
    padding: 2px 0px 0px 30px;
}
.product-now{
    background-color: #4b49ac;
    color: #fff;
    padding: 5px 10px 5px 40px;
    border-radius: 10px;
}
.add-product1{
    padding: 5px 10px 5px 40px;
}
a{
    text-decoration: none;
}