.setting-user{
    max-width: 250px;
    background-color: #fff;
    border: 1px solid #f3f6f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px lightgray;
    position: absolute;
    right: 30px;
    display: none;
    cursor: pointer;
}
.padding-setting-user{
    padding: 10px;
    padding-left: 20px;
}
.setting-user .hover:hover{
    background-color: lightgray;
    transition: 0.2s ease-in-out;
}
.user-icon:hover .setting-user{
    display: block;
    z-index: 9999;
}
.hover{
    padding-top: 10px;
    padding-bottom: 10px;
}