body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: white;
    color: #545759;
}

/* KHU VỰC CHÍNH CỦA TRANG CONTACT */
.contact-section {
    padding: 60px 10%;
    background-color: white;
}

/* CONTAINER CHỨA 2 PHẦN (THÔNG TIN + HÌNH ẢNH) */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

/* PHẦN THÔNG TIN CỬA HÀNG */
.contact-info {
    flex: 1;
    min-width: 320px;
    max-width: 50%;
}


/* TIÊU ĐỀ PHỤ "CONTACT" */
.contact-title {
    color: #000000;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/*  TIÊU ĐỀ CHÍNH "Store information" */
.store-title {
    font-size: 32px;
    margin-bottom: 24px;
    color: #000000;
}

/* DÒNG HIỂN THỊ ĐỊA CHỈ / EMAIL */
.info-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 14px;
    color: #545759;
}

/* ICON TRONG MỖI DÒNG */
.info-item i {
    color: #e95221;
    font-size: 22px;
    flex-shrink: 0;
}

/* NỘI DUNG TEXT CỦA MỖI DÒNG */
.info-item p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
}

/* TIÊU ĐỀ PHẦN FEEDBACK  */
.feedback-title {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #000000;
    font-weight: 600;
}

/* Ô NHẬP FEEDBACK */
.feedback-input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #545759;
    border-radius: 6px;
    background-color: white;
    color: #545759;
    resize: none;
    height: 20px;
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 16px;
    transition: border-color 0.3s;
}

/* HIỆU ỨNG KHI NGƯỜI DÙNG CLICK VÀO Ô NHẬP */
.feedback-input:focus {
    outline: none;
    border-color: #e95221;
}

/* NÚT GỬI FEEDBACK */
.feedback-btn {
    background-color: #e95221;
    color: white;
    border: none;
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

/* HIỆU ỨNG HOVER CHO NÚT */
.feedback-btn:hover {
    background-color: #ae2c00;
}

/* PHẦN ẢNH BÊN PHẢI */
.contact-image {
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  ẢNH TRONG KHUNG  */
.contact-image img {
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE - DÀNH CHO MÀN HÌNH NHỎ (MOBILE / TABLET)*/
@media (max-width: 900px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-info,
    .contact-image {
        max-width: 100%;
    }

    .contact-image img {
        max-width: 350px;
        margin-top: 20px;
    }

    .info-item {
        justify-content: center;
    }
}
