.container{
    width: 1200px;
    margin: auto;
}
.title p{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.title{
    background-color: #f7f8f9;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0px 10px #cbcbcb;
    margin: 10px 0px;
}
body{
    margin: 0;
    padding: 0;
}
.description p{
    font-size: 15px;
}
.cart2{
    text-align: center;
    padding: 10px 0px;
}
.description{
    text-align: center;
    margin-bottom: 132px;
}