.container1{
    width: 400px;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    background-color: #fffbfb;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.title{
    color: #e95221;
}
.input{
    box-sizing: border-box;
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
}
.button{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    background-color: #e95221;
    cursor: pointer;
    border: 1px solid #e95221;
    border-radius: 5px;
    transition: all 0.3s ease; 
    margin-bottom: 10px;
}
.button:hover{
    color: #e95221;
    background-color: #fff;
}
a{
    text-decoration: none;
}
.link1{
    color: #e95221;
}
.link1:hover{
    color: #ff784b;
}