<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Assets/css/login.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
</head>
<body>
    <div id="header"></div>
    <form action="" class="form-login">
        <div class="container1">
        <h2 class="title">ĐĂNG NHẬP</h2>
        <input class="input" type="text" placeholder="Email/Số ĐT"><br>
        <input class="input" type="text" placeholder="Mật Khẩu"><br>
        <button class="button">ĐĂNG NHẬP</button>
        <a href="">Quên mật khẩu</a>
        <a href="" class="link1">Đăng ký tại đây</a>
        </div>
    </form>
    <div id="footer"></div>
    <script src="/Assets/js/main.js"></script>
</body>
</html>