<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management</title>
    <link rel="stylesheet" href="../../css/admin/userManagement.css" />
    <link rel="stylesheet" href="../../css/admin/settingUser.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <div class="logo">
            <a href="">
              <img
                src="https://png.pngtree.com/png-clipart/20230217/original/pngtree-gaming-gamepad-icon-png-image_8957696.png"
                alt=""
              />
            </a>
          </div>
          <div class="hamburger">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              fill="currentColor"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
              />
            </svg>
          </div>
          <div class="search-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-search"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
              />
            </svg>
          </div>
          <div class="search">
            <input type="text" placeholder="Tìm kiếm" />
          </div>
        </div>
        <div class="header-right">
          <div class="bell-dot padding-same">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-bell"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"
              />
            </svg>
            <div class="dot">
              <p
                style="font-size: 100px; margin: 0; padding: 0; color: #4b49ac"
              >
                .
              </p>
            </div>
          </div>
          <div class="user-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              fill="currentColor"
              class="bi bi-person"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
              />
            </svg>
            <div class="setting-user">
      <div class="name-user padding-setting-user">
        <span style="padding-bottom: 5px;">datbietbay123</span><br>
        <span style="color: rgb(175, 175, 175);">datbietbay123@gmail.com</span>
      </div>
      <div>
        <div class="hover"><i class="bi bi-gear padding-setting-user"></i>Settings <br></div>
        <div class="hover"><i class="bi bi-box-arrow-right padding-setting-user" style="color: red;"></i><span style="color: red;">Sign out</span></div>
      </div>
    </div>
          </div>
          <div class="padding-same">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="23"
              height="23"
              fill="currentColor"
              class="bi bi-three-dots"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"
              />
            </svg>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="menu-bar">
        <a href="./admin.html" class="p-same-style">
        <div class="flex-menu-bar">
          <div class="icon-menu-bar"><i class="bi bi-grid"></i></div>
          <div><p>Trang tổng quan</p></div>
        </div>
        </a>
        <div
          class="flex-menu-bar"
          style="background-color: #4b49ac; border-radius: 10px; color: #fff"
        >
          <div class="icon-menu-bar"><i class="bi bi-people"></i></div>
          <div><p>Quản lý người dùng</p></div>
          <div style="padding-top: 2px; padding-left: 5px">
            <i class="bi bi-arrow-down-short"></i>
          </div>
        </div>
        <a href="./productManagement.html">
        <div class="flex-menu-bar">
          <div class="icon-menu-bar"><i class="bi bi-bag-check"></i></div>
          <div class="p-same-style"><p>Quản lý sản phẩm</p></div>
          <div style="padding-top: 2px; padding-left: 5px">
            <i class="bi bi-arrow-down-short"></i>
          </div>
        </div>
        </a>
        <a href="./orderManagement.html">
        <div class="flex-menu-bar">
          <div class="icon-menu-bar"><i class="bi bi-receipt"></i></div>
          <div class="p-same-style"><p>Quản lý đơn hàng</p></div>
          <div style="padding-top: 2px; padding-left: 5px">
            <i class="bi bi-arrow-down-short"></i>
          </div>
        </div>
        </a>
        <a href="./reviewManagement.html">
        <div class="flex-menu-bar">
          <div class="icon-menu-bar"><i class="bi bi-chat-left-text"></i></div>
          <div class="p-same-style"><p>Quản lý bình luận</p></div>
          <div style="padding-top: 2px; padding-left: 5px">
            <i class="bi bi-arrow-down-short"></i>
          </div>
        </div>
        </a>
        <a href="">
        <div class="flex-menu-bar">
          <div class="icon-menu-bar"><i class="bi bi-bar-chart"></i></div>
          <div class="p-same-style"><p>Thống kê</p></div>
          <div style="padding-top: 2px; padding-left: 5px">
            <i class="bi bi-arrow-down-short"></i>
          </div>
        </div>
        </a>
        <a href="./settingInfor.html">
        <div class="flex-menu-bar">
          <div class="icon-menu-bar"><i class="bi bi-gear"></i></div>
          <div class="p-same-style"><p>Cài đặt</p></div>
          <div style="padding-top: 2px; padding-left: 5px">
            <i class="bi bi-arrow-down-short"></i>
          </div>
        </div>
        </a>
      </div>
      <div class="content">
        <div class="flex-layout-1">
          <div>
            <p style="font-size: 23px; font-weight: 700; padding-bottom: 10px;">User Management</p>
            <p style="color: #8d7c83;">Manage your team members and their account permissions</p>
          </div>
          <a href="./pageAfterAddUser.html">
          <div class="flex-layout-2">
            <div style="padding-top: 7px;"><i class="bi bi-person-add"></i></div>
            <div style="font-weight: 700; padding-top: 8px;">Add User</div>
          </div>
          </a>
        </div>
        <div class="flex-layout-3">
            <div class="border-same-style">
                <div>
                    <p style="padding-bottom: 10px;">Total Users</p>
                    <p style="font-size: 23px; font-weight: 700;">3200</p>
                </div>
                <div style="background-color: #dbeafe; padding: 14px 20px 10px 20px; border-radius: 10px;"><i class="bi bi-shield" style="font-size: 25px; color: #2563eb;"></i></div>
            </div>
            <div class="border-same-style">
                <div>
                    <p style="padding-bottom: 10px;">Active</p>
                    <p style="font-size: 23px; font-weight: 700;">8</p>
                </div>
                <div style="background-color: #dcfce7; padding: 14px 30px 10px 30px; border-radius: 10px;"></div>
            </div>
            <div class="border-same-style">
                <div>
                    <p style="padding-bottom: 10px;">Pending</p>
                    <p style="font-size: 23px; font-weight: 700;">1</p>
                </div>
                <div style="background-color: #fef3c7; padding: 14px 30px 10px 30px; border-radius: 10px;"></i></div>
            </div>
            <div class="border-same-style">
                <div>
                    <p style="padding-bottom: 10px;">Admin</p>
                    <p style="font-size: 23px; font-weight: 700;">2</p>
                </div>
                <div style="background-color: #f1f5f9; padding: 14px 20px 10px 20px; border-radius: 10px;"><i class="bi bi-shield" style="font-size: 25px;"></i></div>
            </div>
        </div>
        <div class="table">
            <div class="flex-layout-4">
                <div style="color: #334155; padding-top: 10px;">
                    <span style="color: #1e40af; background-color: #dbeafe; padding: 4px; border-radius: 10px; font-size: 13px;">10 selected</span> Perform bulk actions on selected users
                </div>
                <div class="delete" style=" padding-top: 10px;">
                    <i class="bi bi-trash" style="padding-right: 10px;"></i><span style="font-size: 15px;">Delete Selected</span>
                </div>
            </div>
            <div class="search-user">
                <input type="text" placeholder="Search users by name...">
            </div>
            <div class="table2" style="margin-top: 20px;">
                <table>
                    <thead>
                        <tr>
                            <td class="border-same">
                                <input type="checkbox">
                            </td>
                            <td>
                                <span>Name</span>
                                <i class="bi bi-arrow-down-short"></i>
                            </td>
                            <td class="td-orther">
                                <span>Email</span>
                                <i class="bi bi-arrow-down-short"></i>
                            </td>
                            <td style="padding-left: 40px;">
                                <span>Role</span>
                                <i class="bi bi-arrow-down-short"></i>
                            </td>
                            <td>
                                <span>Status</span>
                                <i class="bi bi-arrow-down-short"></i>
                            </td>
                            <td>
                                <span>Last Login</span>
                                <i class="bi bi-arrow-down-short"></i>
                            </td>
                            <td class="border-same">
                                <span>Actions</span>
                                <i class="bi bi-arrow-down-short"></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td class="td-orther">
                                <p>John Doe</p>
                                <p style="color: #475569;">USR-001</p>
                            </td>
                            <td>
                                <p style="color: #475569;">john.doe@example.com</p>
                            </td>
                            <td>
                                <div  class="admin-style">
                                <i class="bi bi-shield" style="padding-right: 10px;"></i><span>Admin</span>
                                </div>
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                4 weeks ago
                            </td>
                            <td class="td-orther-2">
                                <span><i class="bi bi-three-dots"></i></span>
                                <div class="fuction">
        <div class="same-hover"><i class="bi bi-pencil-square" style="padding-right: 15px; border: none;"></i><span>Edit User</span></div>
        <div class="same-hover"><i class="bi bi-envelope" style="padding-right: 15px; border: none;"></i><span>Send Email</span></div>
        <div class="same-hover"><i class="bi bi-trash" style="padding-right: 15px; border: none;"></i><span>Delete User</span></div>
      </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td class="td-orther">
                                <p>John Doe</p>
                                <p style="color: #475569;">USR-001</p>
                            </td>
                            <td>
                                <p style="color: #475569;">john.doe@example.com</p>
                            </td>
                            <td>
                                <div  class="dev-style">
                                <i class="bi bi-shield" style="padding-right: 10px;"></i><span>Developer</span>
                                </div>
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                4 weeks ago
                            </td>
                            <td class="td-orther-2">
                                <span><i class="bi bi-three-dots"></i></span>
                                <div class="fuction">
        <div class="same-hover"><i class="bi bi-pencil-square" style="padding-right: 15px; border: none;"></i><span>Edit User</span></div>
        <div class="same-hover"><i class="bi bi-envelope" style="padding-right: 15px; border: none;"></i><span>Send Email</span></div>
        <div class="same-hover"><i class="bi bi-trash" style="padding-right: 15px; border: none;"></i><span>Delete User</span></div>
      </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td class="td-orther">
                                <p>John Doe</p>
                                <p style="color: #475569;">USR-001</p>
                            </td>
                            <td>
                                <p style="color: #475569;">john.doe@example.com</p>
                            </td>
                            <td>
                                <div  class="user-style">
                                <i class="bi bi-shield" style="padding-right: 10px;"></i><span>User</span>
                                </div>
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                4 weeks ago
                            </td>
                            <td class="td-orther-2">
                                <span><i class="bi bi-three-dots"></i></span>
                                <div class="fuction">
        <div class="same-hover"><i class="bi bi-pencil-square" style="padding-right: 15px; border: none;"></i><span>Edit User</span></div>
        <div class="same-hover"><i class="bi bi-envelope" style="padding-right: 15px; border: none;"></i><span>Send Email</span></div>
        <div class="same-hover"><i class="bi bi-trash" style="padding-right: 15px; border: none;"></i><span>Delete User</span></div>
      </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td class="td-orther">
                                <p>John Doe</p>
                                <p style="color: #475569;">USR-001</p>
                            </td>
                            <td>
                                <p style="color: #475569;">john.doe@example.com</p>
                            </td>
                            <td>
                                <div  class="dev-style">
                                <i class="bi bi-shield" style="padding-right: 10px;"></i><span>Developer</span>
                                </div>
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                4 weeks ago
                            </td>
                            <td class="td-orther-2">
                                <span><i class="bi bi-three-dots"></i></span>
                                <div class="fuction">
        <div class="same-hover"><i class="bi bi-pencil-square" style="padding-right: 15px; border: none;"></i><span>Edit User</span></div>
        <div class="same-hover"><i class="bi bi-envelope" style="padding-right: 15px; border: none;"></i><span>Send Email</span></div>
        <div class="same-hover"><i class="bi bi-trash" style="padding-right: 15px; border: none;"></i><span>Delete User</span></div>
      </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td class="td-orther">
                                <p>John Doe</p>
                                <p style="color: #475569;">USR-001</p>
                            </td>
                            <td>
                                <p style="color: #475569;">john.doe@example.com</p>
                            </td>
                            <td>
                                <div  class="manager-style">
                                <i class="bi bi-shield" style="padding-right: 10px;"></i><span>Manager</span>
                                </div>
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                4 weeks ago
                            </td>
                            <td class="td-orther-2">
                                <span><i class="bi bi-three-dots"></i></span>
                                <div class="fuction">
        <div class="same-hover"><i class="bi bi-pencil-square" style="padding-right: 15px; border: none;"></i><span>Edit User</span></div>
        <div class="same-hover"><i class="bi bi-envelope" style="padding-right: 15px; border: none;"></i><span>Send Email</span></div>
        <div class="same-hover"><i class="bi bi-trash" style="padding-right: 15px; border: none;"></i><span>Delete User</span></div>
      </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td class="td-orther">
                                <p>John Doe</p>
                                <p style="color: #475569;">USR-001</p>
                            </td>
                            <td>
                                <p style="color: #475569;">john.doe@example.com</p>
                            </td>
                            <td>
                                <div  class="user-style">
                                <i class="bi bi-shield" style="padding-right: 10px;"></i><span>User</span>
                                </div>
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                4 weeks ago
                            </td>
                            <td class="td-orther-2">
                                <span><i class="bi bi-three-dots"></i></span>
                                <div class="fuction">
        <div class="same-hover"><i class="bi bi-pencil-square" style="padding-right: 15px; border: none;"></i><span>Edit User</span></div>
        <div class="same-hover"><i class="bi bi-envelope" style="padding-right: 15px; border: none;"></i><span>Send Email</span></div>
        <div class="same-hover"><i class="bi bi-trash" style="padding-right: 15px; border: none;"></i><span>Delete User</span></div>
      </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td class="td-orther">
                                <p>John Doe</p>
                                <p style="color: #475569;">USR-001</p>
                            </td>
                            <td>
                                <p style="color: #475569;">john.doe@example.com</p>
                            </td>
                            <td>
                                <div  class="manager-style">
                                <i class="bi bi-shield" style="padding-right: 10px;"></i><span>Manager</span>
                                </div>
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                4 weeks ago
                            </td>
                            <td class="td-orther-2">
                                <span><i class="bi bi-three-dots"></i></span>
                                <div class="fuction">
        <div class="same-hover"><i class="bi bi-pencil-square" style="padding-right: 15px; border: none;"></i><span>Edit User</span></div>
        <div class="same-hover"><i class="bi bi-envelope" style="padding-right: 15px; border: none;"></i><span>Send Email</span></div>
        <div class="same-hover"><i class="bi bi-trash" style="padding-right: 15px; border: none;"></i><span>Delete User</span></div>
      </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td class="td-orther">
                                <p>John Doe</p>
                                <p style="color: #475569;">USR-001</p>
                            </td>
                            <td>
                                <p style="color: #475569;">john.doe@example.com</p>
                            </td>
                            <td>
                                <div  class="manager-style">
                                <i class="bi bi-shield" style="padding-right: 10px;"></i><span>Manager</span>
                                </div>
                            </td>
                            <td>
                                Active
                            </td>
                            <td>
                                4 weeks ago
                            </td>
                            <td class="td-orther-2">
                                <span><i class="bi bi-three-dots"></i></span>
                                <div class="fuction">
        <div class="same-hover"><i class="bi bi-pencil-square" style="padding-right: 15px; border: none;"></i><span>Edit User</span></div>
        <div class="same-hover"><i class="bi bi-envelope" style="padding-right: 15px; border: none;"></i><span>Send Email</span></div>
        <div class="same-hover"><i class="bi bi-trash" style="padding-right: 15px; border: none;"></i><span>Delete User</span></div>
      </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex-layout-5">
                <div>
                    <p>Page 1 of 1</p>
                </div>
                <div>
                    <span style="border-radius: 10px; border: 1px solid #92b1f5; padding: 10px; color: #92b1f5;">Previous</span>
                    <span style="border-radius: 10px; border: 1px solid #92b1f5; padding: 10px; color: #92b1f5;">Next</span>
                </div>
            </div>
        </div>
      </div>
      
    </main>
  </body>
</html>
