<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/Assets/css/register.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
</head>
<body>
    <div id="header"></div>
    <form action="" class="form-register">
        <div class="container1">
        <h2 class="title">ĐĂNG KÝ</h2>
        <p>Đã có tài khoản, đăng nhập <a href="#">tại đây</a></p>
        <input class="input" type="text" placeholder="Nhập tên của bạn(*)"><br>
        <input class="input" type="text" placeholder="Nhập email của bạn(*)"><br>
        <input class="input" type="text" placeholder="Số điện thoại"><br>
        <input class="input" type="text" placeholder="Mật khẩu"><br>
        <input class="input" type="text" placeholder="Nhập lại mật khẩu"><br>
        <button class="button">ĐĂNG KÝ</button>
        </div>
    </form>
    <div id="footer"></div>
    <script src="/Assets/js/main.js"></script>
</body>
</html>