<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Console Shop</title>
    <link rel="stylesheet" href="/Assets/css/shop.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
    <script src="/Assets/js/main.js"></script>
</head>
<body>
    <div id="header"></div>
<main class="shop-section">

    <div class="container">
    <div class="shop-grid">
        <div class="shop-card">
            <img src="/Assets/image/shop_nintendo.jpg" alt="Nintendo">
            <p>Nintendo</p>
        </div>

        <div class="shop-card">
            <img src="/Assets/image/shop_sony.jpg" alt="Sony">
            <p>Sony</p>
        </div>

        <div class="shop-card">
            <img src="/Assets/image/shop_steamdeck.jpg" alt="Steam Deck">
            <p>Steam Deck</p>
        </div>

        <div class="shop-card">
            <img src="/Assets/image/shop_asus.png" alt="Asus">
            <p>Asus</p>
        </div>

        <div class="shop-card">
            <img src="/Assets/image/shop_lenovo.jpg" alt="Lenovo">
            <p>Lenovo</p>
        </div>

        <div class="shop-card">
            <img src="/Assets/image/shop_retroid.jpg" alt="Retroid Pocket">
            <p>Retroid Pocket</p>
        </div>

        <div class="shop-card">
            <img src="/Assets/image/shop_razeredge.jpg" alt="Razer Edge">
            <p>Razer Edge</p>
        </div>

        <div class="shop-card">
            <img src="/Assets/image/shop_anbernic.png" alt="Anbernic">
            <p>Anbernic</p>
        </div>

        <div class = "shop-card">
            <img src = "/Assets/image/shop_ayn.png" alt="AYN">
            <p>AYN</p>
        </div>

        <div class = "shop-card">
            <img src = "/Assets/image/shop_logitechgcloud.jpg" alt="Black">
            <p>Logitech G Cloud</p>
        </div>
    </div>
    </div>
    
</main>
<div id="footer"></div>
</body>
</html>
